<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goHome()">
        <ion-icon slot="start" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'AUTH.LOGIN.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed>
    <ion-row>
      <ion-col text-center size="12">
        <h1>{{ 'WELCOME' | translate }}</h1>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">{{ 'AUTH.LOGIN.EMAIL' | translate}}</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">{{ 'AUTH.LOGIN.PASSWORD' | translate}}</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col margin-vertical text-center padding size="12">
        <a [href]="'/recovery-password'">{{ 'AUTH.RECOVER_PASSWORD' | translate}}</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>