<ion-header>
  <app-header title="Registarte"></app-header>
</ion-header>
<ion-content padding>
  <ion-grid fixed>
    <form [formGroup]="newCoach" (ngSubmit)="createCoach()">
      <ion-item>
        <ion-button (click)="presentLoading()">Default</ion-button>
      </ion-item>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" formControlName="name" class="form-control"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="password" class="form-control"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Apellido paterno</ion-label>
            <ion-input type="text" formControlName="firtsName" class="form-control"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Apellido materno</ion-label>
            <ion-input type="text" formControlName="secondName" class="form-control"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Correo electronico</ion-label>
            <ion-input type="text" formControlName="email" class="form-control"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col padding size="12" text-center>
          <ion-button color="primary" [disabled]="newCoach.invalid" type="submit" expand="full">Registrar</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>