<ion-header>
  <app-header title="Registrar Juego"></app-header>
</ion-header>

<ion-content padding>
  <ion-grid fixed>
    <form [formGroup]="newGame" (ngSubmit)="registryGame()">
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime formControlName="matchDate" display-format="MMM DD, YYYY h:mm a"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col *ngIf="isManager" size="6">
          <ion-item>
            <ion-label position="floating">Team 1</ion-label>
            <ion-select formControlName="teamOne">
              <ion-select-option *ngFor="let team of teams" value="{{team._id}}">{{team.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col *ngIf="isManager" size="6">
          <ion-item>
            <ion-label position="floating">Team 2</ion-label>
            <ion-select formControlName="teamTwo">
              <ion-select-option *ngFor="let team of teams" value="{{team._id}}">{{team.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating" >Puntos</ion-label>
            <ion-input formControlName="pointTOne" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Puntos</ion-label>
            <ion-input formControlName="pointTTwo" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Sets</ion-label>
            <ion-input formControlName="setTOne" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Sets</ion-label>
            <ion-input formControlName="setTTwo" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col *ngIf="isManager" size="12">
          <ion-item>
            <ion-label position="floating">Referee</ion-label>
            <ion-select formControlName="refereeId">
              <ion-select-option *ngFor="let referee of referees" value="{{referee._id}}">{{referee.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col padding size="12" text-center>
          <ion-button color="primary" [disabled]="newGame.invalid" type="submit" expand="full">Registrar</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>