<ion-header>
  <app-header title="Registrar Juego"></app-header>
</ion-header>

<ion-content padding>
  <ion-grid fixed>
    <form [formGroup]="newGame" (ngSubmit)="registryGame()">
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label>Hour</ion-label>
            <ion-datetime formControlName="matchHour" display-format="HH:mm"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime formControlName="matchDate" display-format="MM/DD/YYYY"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size="6" text-center>
          <ion-label>Team 1</ion-label>
        </ion-col>
        <ion-col size="6" text-center>
          <ion-label>Team2</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label>Puntos</ion-label>
            <ion-input formControlName="pointTOne" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label>Puntos</ion-label>
            <ion-input formControlName="pointTTwo" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label>Sets</ion-label>
            <ion-input formControlName="setTOne" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label>Sets</ion-label>
            <ion-input formControlName="setTTwo" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label>Referee</ion-label>
            <ion-select formControlName="referee" placeholder="Select One">
              <ion-select-option value="f">Female</ion-select-option>
              <ion-select-option value="m">Male</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col padding size="12" text-center>
          <ion-button color="primary" [disabled]="newGame.invalid" type="submit" expand="full">Registrar</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>